<ion-tabs class="tabs-assertive tabs-icon-top">
  <ion-tab title="Nearby" icon="icon glyphicons white globe" href="#/tab/nearby">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>
  
  <ion-tab title="Search" icon="icon glyphicons white search" href="#/tab/search">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Lists" icon="icon glyphicons white list" href="#/tab/login">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>
  
  <ion-tab title="Itineraries" icon="icon glyphicons white airplane" href="#/tab/login">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>
  
  <ion-tab title="More" icon="icon glyphicons white settings" href="#/tab/more">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>
</ion-tabs>